In [1]:
import pandas as pd

data = pd.read_csv(r"C:\Users\ritth\code\Data\dato-native\train.csv\train.csv")
data

                        file  sponsored
0       3093804_raw_html.txt          0
1        845185_raw_html.txt          0
2       3370996_raw_html.txt          0
3        312396_raw_html.txt          0
4       3273416_raw_html.txt          0
...                      ...        ...
101102  2777838_raw_html.txt          0
101103  2552524_raw_html.txt          0
101104  3490334_raw_html.txt          0
101105  3157538_raw_html.txt          0
101106  2231356_raw_html.txt          0

[101107 rows x 2 columns]

In [2]:
data1 = pd.read_csv(r"C:\Users\ritth\code\Data\dato-native\sampleSubmission.csv\sampleSubmission.csv")
data1

                        file  sponsored
0       1923087_raw_html.txt          0
1       2216383_raw_html.txt          0
2       3031488_raw_html.txt          0
3       2763129_raw_html.txt          0
4       3526780_raw_html.txt          0
...                      ...        ...
235912  3353930_raw_html.txt          0
235913  3172588_raw_html.txt          0
235914  3112578_raw_html.txt          0
235915   211600_raw_html.txt          0
235916  3198940_raw_html.txt          0

[235917 rows x 2 columns]

In [3]:
data1.info

<bound method DataFrame.info of                         file  sponsored
0       1923087_raw_html.txt          0
1       2216383_raw_html.txt          0
2       3031488_raw_html.txt          0
3       2763129_raw_html.txt          0
4       3526780_raw_html.txt          0
...                      ...        ...
235912  3353930_raw_html.txt          0
235913  3172588_raw_html.txt          0
235914  3112578_raw_html.txt          0
235915   211600_raw_html.txt          0
235916  3198940_raw_html.txt          0

[235917 rows x 2 columns]>

In [4]:
data["sponsored"].unique()

array([0, 1], dtype=int64)

In [5]:
data2 = pd.read_csv(r"C:\Users\ritth\code\Data\dato-native\train_v2.csv\train_v2.csv")
data2

                        file  sponsored
0       3093804_raw_html.txt          0
1        845185_raw_html.txt          0
2       3370996_raw_html.txt          0
3        312396_raw_html.txt          0
4       3273416_raw_html.txt          0
...                      ...        ...
337019  3353930_raw_html.txt          0
337020  3172588_raw_html.txt          0
337021  3112578_raw_html.txt          0
337022   211600_raw_html.txt          0
337023  3198940_raw_html.txt          1

[337024 rows x 2 columns]

In [6]:
data2["sponsored"].unique()

array([0, 1], dtype=int64)

In [13]:
df = pd.read_csv(r'C:\Users\ritth\code\Data\df_extracted.csv').drop(columns="Unnamed 0")
df

KeyError: "['Unnamed 0'] not found in axis"